{
    "singleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "vueIndentScriptAndStyle": true,
    "bracketSpacing": false,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true,
    "printWidth": 200,
    "singleAttributePerLine": true
}
